In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt

In [5]:
trip_df = pd.read_csv('./trip.csv', error_bad_lines=False)
trip_df.head(1)

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0

In [8]:
weather_df = pd.read_csv('./datasets_336_799969_weather.csv')
weather_df.head(1)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.0,Rain

In [10]:
station_df = pd.read_csv('datasets_336_799969_station.csv')
station_df.head(1)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN

# What is the average trip duration for a borrowed bicycle?

In [6]:
avg = trip_df['tripduration'].mean()
avg

1178.2956753399776

# What’s the most common age of a bicycle-sharer?

In [7]:
birth_date = trip_df['birthyear'].value_counts().idxmax()
int_birth = birth_date.astype(int)
age = (pd.to_datetime('today').year-pd.to_datetime(int_birth.astype(str)).year)
age

33

# Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [9]:
avg_rain = weather_df['Precipitation_In'].mean()
avg_rain

0.10506531204644412

# What’s the average number of bikes at a given bike station?

In [11]:
station_df['current_dockcount'].mean()
bike_avg = station_df.groupby(["name"])['current_dockcount'].max().mean()
bike_avg

16.517241379310345

# When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes?

In [12]:
unique_nums = station_df['current_dockcount'].unique()
unique_nums

array([18, 16, 14, 20,  0, 26, 24])

In [13]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, None)
    assert_equal(most_common_platform, None)
    assert_equal(most_common_genre, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, None)
    assert_equal(na_median_sales, None)
    assert_equal(ten_median_na_seller_names, None)

    print("Success!!!")

test()

NameError: name 'most_common_publisher' is not defined