In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('vgsales.csv')
df.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

# Which company is the most common video game publisher?

In [4]:
df['Publisher'].value_counts().idxmax()

'Electronic Arts'

# Whatâ€™s the most common platform?

In [6]:
df['Platform'].value_counts().idxmax()

'DS'

# What about the most common genre?

In [7]:
df['Genre'].value_counts().idxmax()

'Action'

# What are the top 20 highest grossing games?

In [9]:
df[df['Global_Sales']>20][['Name','Global_Sales']]

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

# For North American video game sales, whatâ€™s the median?
    - Provide a secondary output showing ten games surrounding the median sales output
        - assume that games with same median value are sorted in descending order

In [11]:
md = df.loc[:,"NA_Sales"].median()
md
df.groupby(["Name"])['NA_Sales'].median().head(10)

Name
'98 Koshien                                    0.15
.hack//G.U. Vol.1//Rebirth                     0.00
.hack//G.U. Vol.2//Reminisce                   0.11
.hack//G.U. Vol.2//Reminisce (jp sales)        0.00
.hack//G.U. Vol.3//Redemption                  0.00
.hack//Infection Part 1                        0.49
.hack//Link                                    0.00
.hack//Mutation Part 2                         0.23
.hack//Outbreak Part 3                         0.14
.hack//Quarantine Part 4: The Final Chapter    0.09
Name: NA_Sales, dtype: float64

# For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [13]:
globl_top_sales = df.iloc[0].NA_Sales
globl_top_sales

na_sal_men = df['NA_Sales'].mean()
na_sal_men

na_sal_std = df['NA_Sales'].std()
na_sal_std

dis = globl_top_sales - na_sal_men
dis

ans = dis/na_sal_std
ans

50.47898767479108

# The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [15]:
platform = df.iloc[0].Platform
nanindo = df[ df['Publisher'] == 'Nintendo' ]
men = nanindo.mean()['Global_Sales']
men

2.541337126600285

In [3]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, None)
    assert_equal(most_common_platform, None)
    assert_equal(most_common_genre, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, None)
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, None)
    assert_equal(na_median_sales, None)
    assert_equal(ten_median_na_seller_names, None)

    print("Success!!!")

test()

NameError: name 'most_common_publisher' is not defined